@import "../../shared/assets/styles/globals";

.list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.item {
  @extend .h2;
  padding: 14px;
  padding-right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  &:before {
    content: '';
    display: block;
    width: 4px;
    height: 100%;
    background: $white-70;
    position: absolute;
    top: 0;
    left: 0;
    color: $white-100;
  }

  &.tariff {
    margin-bottom: 26px;
  }

  &.support {
    margin-top: 165px;
    &:before {
      background: $blueHigh;
    }
  }


  a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $white-90;
  }

  a.active {
    color: $white-100;
  }

}